.Contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
}

.contact-box {
    width: 500px;
    max-height: 55vh;
    background: linear-gradient(111.61deg, rgba(201, 219, 233, 0.7) 1.11%, rgba(196, 196, 196, 0.3) 97.6%, rgba(196, 196, 196, 0.3) 97.61%, rgba(196, 196, 196, 0.3) 97.91%);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 1rem 2rem 1rem 2rem;
    line-height: 28px;
    font-weight: 500;
    color: var(--maroon);
}

.form-header {
    margin-top: 0.5rem;
}

form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

form p input {
    outline: none;
    border: 1px solid var(--maroon);
    padding: 5px 10px 5px 10px;
}

input::placeholder {
    color: #a3a3a3;
    font-weight: 300;
}

input:focus::placeholder {
    color: #ffffff;
}


textarea {
    resize: none;
    border: 1px solid var(--maroon);
    padding: 5px 10px 5px 10px;
    font-family: 'Roboto';
}

textarea:focus {
    outline: none;
    border: 1px solid var(--maroon);
}

textarea::placeholder {
    color: #a3a3a3;
    font-weight: 400;
    font-family: 'Roboto';
}

textarea:focus::placeholder {
    color: #ffffff;
}

.submit-button {
    width: 65px;
    padding: 10px;
    outline: none;
    border: none;
    background: var(--maroon);
    color: #FFFFFF;
    border-radius: 5px;
    align-self: center;
    font-weight: bold;
}

.submit-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 780px) {

    .contact-box {
        width: 400px;
    }
    
}

@media screen and (max-width: 480px) {

    .contact-box {
        width: 80%;
        padding: 1rem;
    }
    
}