.Navbar {
    background-color: #ffffff;
    width: 100%;
}

.Navbar ul {
    display: flex;
    justify-content: flex-end;
}


.Navbar ul li {
    padding: 3px 50px 3px 20px;
}

.Navlink {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--darkmaroon);
    text-decoration: none;
    list-style: none;
}

@media screen and (max-width: 480px) {

    .Navbar ul {
        justify-content: space-between;
    }
    .Navbar ul li {
        padding: 5px 20px 5px 20px;
    }
    
}
