.Navbar {
    background-color: #ffffff;
}

.Navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #894343;
}

.Navbar ul li {
    padding: 5px 50px 5px 20px;
}