.Searchbar {
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 0px;
    box-shadow: 1px 2px 5px #7c7c7c;
}

.Searchbar:focus {
    outline: none;
}

.Searchbar::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #D58C8C;
    font-size: 1rem;
    padding-left: 10px;
}

.Searchbar:focus::placeholder {
    color: transparent;
}