.SearchButton {
    width: 10%;
    background-color: #97D4C9; 
    border-radius: 5px;
    box-shadow: 1px 2px 5px #7c7c7c;
}

.SearchButton img {
    display: block;
    margin: auto;
    width: 46px;
}