@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.App {
    min-height: 100vh;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-color: #97D4CA; 
    text-align: center;
}