@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --brown: #8F4E00;
    --lightblue: #c9dbe9;
}

body {
    background: var(--lightblue); 
    overflow: hidden;
}

.Midday {
	max-height: 100vh;
	overflow: hidden;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.image-wrapper {
  opacity: 0.9;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.App {
    position: relative; 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: 'Roboto';
    line-break: break-word;
}

#clouds{
    position: absolute;
    top: 5%;
    bottom: 0;
	padding: 100px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; 
    height: 80px;
	position: absolute; 
    top: -15px; 
    left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

.one {
	animation: move 15s linear infinite;
	-moz-animation: move 15s linear infinite;
	-o-animation: move 15s linear infinite;
}

.two {
	left: 15vw;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; 
	animation: move 25s linear infinite;
	-moz-animation: move 25s linear infinite;
	-o-animation: move 25s linear infinite;
}

.three {
	left: 20vw; top: -200px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; 
	animation: move 20s linear infinite;
	-moz-animation: move 20s linear infinite;
	-o-animation: move 20s linear infinite;
}

.four {
	left: 10vw; top: -250px;
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; 
	animation: move 18s linear infinite;
	-moz-animation: move 18s linear infinite;
	-o-animation: move 18s linear infinite;
}

.five {
	left: 5px; top: -150px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; 
	animation: move 20s linear infinite;
	-moz-animation: move 20s linear infinite;
	-o-animation: move 20s linear infinite;
}

@keyframes move {
	0% {
        margin-left: 50vw;
    }
	100% {
        margin-left: -50vw;
    }
}

@-moz-keyframes move {
	0% {
        margin-left: 50vw;
    }
	100% {
        margin-left: -50vw;
    }
}

@-o-keyframes move {
	0% {
        margin-left: 50vw;
    }
	100% {
        margin-left: -50vw;
    }
}